body{
	background-color: #fff;
	margin: 0;
	padding: 0;
}
header .container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu-icon{
	padding-left: 76px;
	padding-top: 37px;
	width: 47px;
	height: 47px;

}
.logo{
	width: 274px;
	height: 43px;
	display: flex;
	justify-content: start;
	align-items: center;
}
.logo-name{
	width: 188px;
	height: 43px;
}
.logo-description{
	width: 55px;
	height: 32px;
	position: relative;
	top: -10px;

}
.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;

}
.navigation ul li{
	margin-right: 20px;
	text-decoration: none;
}
.oval-img{
	padding-right: 68px;
}