{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
	<title>Git repository</title>
</head>
<body>
	<header class="header">
		<div class="container">
			<img src="{% static 'main/img/oval.png' %}" alt="menu-icon" class="menu-icon">
			<div class="logo">
				<div class="logo-name">
					<p>VICTORIA'S</p>
				</div>
				<img src="{% static 'main/img/Line.png' %}" class="vertical-line">
				<div class="logo-description">
					<p>Secret parfume</p>
				</div>
			</div>
			<nav class="navigation">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Shop</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
				<img src="{% static 'main/img/oval.png' %}" class="oval-img">
			</nav>
		</div>
	</header>
	<section class="body">
		<div class="main-body">
			
		</div>
	</section>
	<footer class="footer">
		<div class="end-page">
		</div>
	</footer>
</body>
</html>